<!DOCTYPE html>
<!--
    index_5.html
    This file are called by:
            FlaskTut05_Sessions.py
            base.html
-->
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h3>Detta är text från filen 'index_5.html'</h3>

    <br>
    <p>
        Hämtat från YouTube: Flask Tutorial #5 - Sessions
        <br>
        <br>
        Testa webbrowsern:
        <br>
        <h7>
            http://127.0.0.1:5000/
            <br>
            http://127.0.0.1:5000/login
            <br>
            http://127.0.0.1:5000/logout
        </h7>
        <br>
    </p>
{% endblock %}


