<!DOCTYPE html>
<!--
    index_4.html
    This file are called by:
            FlaskTut04_http_methods_GET_POST.py
            base.html
-->
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h3>Detta är text från filen 'index_4.html'</h3>

    <br>
    <p>
        Hämtat från YouTube: Flask Tutorial #  4 - HTTP Methods (GET/POST) & Retriving Form Data
        <br>
        Testa webbrowsern:
        <br>
        <h7>
            http://127.0.0.1:5000/
            <br>
            http://127.0.0.1:5000/login
        </h7>
        <br>
    </p>
{% endblock %}


