<!DOCTYPE html>
<!--
    index_7.html
    This file are called by:
            FlaskTut07_Using_SQL.py
            base.html
-->
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h3>Detta är text från filen 'index_7.html'</h3>

    <br>
    <p>
        Hämtat från YouTube:
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Flask Tutorial #7 - Using SQL Alchemy Database
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Flask Tutorial # 8 - Adding, Deleting & Updating Users w/ SQLAlchemy
        <br>
        <br> Började med att installera en SQL databas att rulla i Python
        <br> -->pip install flask-sqlalchemy
        <br>
        <br> Testa webbrowsern:
        <br>
        <h7>
            http://127.0.0.1:5000/
            <br>
            http://127.0.0.1:5000/login
            <br>
            http://127.0.0.1:5000/logout
        </h7>
        <br>
    </p>
{% endblock %}


